logs
project/project
project/target
target
tmp
.history
dist
/.idea
/*.iml
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings
/.hydra
/project/hydra.sbt
/src/main/resources/application.local.conf
docs/api/core*
.bsp/
application*
